@using CI_Platform.Areas.Admin.ViewModels
@model CrudViewModel
@{
    Layout = "AdminLayout";
}

<div class="crud-container mt-4 px-4">
    <h3 class="ms-2 mt-4">CMS Page</h3>

    <div class="d-flex justify-content-between mt-4">
        <div class="search-bar">
            <form class="d-flex my-2 my-lg-0">
                <button type="button" class="btn">
                    <img src="~/images/search.png" alt="search" />
                </button>
                <input id="cms-search-input"
                       class="form-control"
                       type="text"
                       placeholder="Search"
                       aria-label="Search" />
            </form>
        </div>
        <div> <button type="button" class="btn add-btn" onclick="AddCMSModel()"> <img src="~/images/plus-lg.svg" />Add</button></div>
    </div>

    <div class=" ms-2 mt-4 row table-responsive">
        <table id="CMS-table" class="table">

            <thead>
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="cmspages">
                @foreach (var item in Model.CmsPages)
                {
                    <tr id='cms-@item.CmsPageId'>
                        <td>@item.Title</td>
                        @if (@item.Status == "1")
                        {
                            <td style="color:green;">Active</td>
                        }
                        else
                        {
                            <td style="color:orangered;">Inactive</td>
                        }
                        <td>
                            <img src="/images/editing.png"
                             class="edbutton" onclick="AddCMSModel(@item.CmsPageId)" alt="" />
                            <img src="~/images/bin.png" onclick="DeleteCMS(@item.CmsPageId)" class="ms-2 edbutton" alt="" />
                        </td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>



