@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

@if (ViewBag.ErrorMessage != null)
{
                    <div class="alert alert-danger" role="alert">
                     @ViewBag.ErrorMessage
    </div>
}
else
{
    <h1>token has expired</h1> 
}
