@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="Home.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container-fluid p-0">
      <div class="row header">
        <div class="col d-flex flex-row justify-content-center">
          <a href="#" class="mx-1 mx-sm-4">Stories</a>
          <div class="dropdown">
            <button
              class="dropdown-toggle"
              type="button"
              data-bs-toggle="dropdown"
            >
              Policy <img src="images/drop-down.png" class="mx-2" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col p-0">
          <div class="dropdown">
            <button
              class="dropdown-toggle profile"
              type="button"
              data-bs-toggle="dropdown"
            >
              <img src="images/user-img.png" class="profileimg" />
              <span class="mx-2 d-none d-sm-block">Evan Donohue</span>
              <img
                src="images/drop-down.png"
                class="mx-1 drop-down d-none d-sm-block"
              />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">My Profile</a></li>
              <li><a class="dropdown-item" href="#">Help</a></li>
              <li><a class="dropdown-item" href="login.html">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- <div class="row filterrow m-0">
        <div class="col-12 col-md-6 search-bar p-0">
          <button type="button" class="btn">
            <img src="images/search.png" alt="search" />
          </button>
          <input
            class="form-control"
            type="text"
            placeholder="Search mission ..."
            aria-label="Search"
          />
        </div>

        <div class="col-12 col-md-6 row p-0 m-0">
          <div class="col-3 p-0">
            <button class="filter" type="button" data-bs-toggle="dropdown">
              <span class="">Country</span>
              <img src="images/drop-down.png" class="mx-0 mx-sm-2" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">USA</a></li>
              <li><a class="dropdown-item" href="#">INDIA</a></li>
              <li><a class="dropdown-item" href="#">Canada</a></li>
            </ul>
          </div>
          <div class="col-3 p-0">
            <button class="filter" type="button" data-bs-toggle="dropdown">
              <span class="">City</span>
              <img src="images/drop-down.png" class="mx-0 mx-sm-2" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Mumbai</a></li>
              <li><a class="dropdown-item" href="#">Kolkata</a></li>
              <li><a class="dropdown-item" href="#">Chicago</a></li>
            </ul>
          </div>
          <div class="col-3 p-0">
            <button class="filter" type="button" data-bs-toggle="dropdown">
              <span class="">Theme</span>
              <img src="images/drop-down.png" class="mx-0 mx-sm-2" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Environment</a></li>
              <li><a class="dropdown-item" href="#">Plantation</a></li>
              <li><a class="dropdown-item" href="#">Education</a></li>
            </ul>
          </div>
          <div class="col-3 p-0">
            <button class="filter" type="button" data-bs-toggle="dropdown">
              <span class="">Skill</span>
              <img src="images/drop-down.png" class="mx-0 mx-sm-2" />
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Archeology</a></li>
              <li><a class="dropdown-item" href="#">History</a></li>
              <li><a class="dropdown-item" href="#">Astronomy</a></li>
            </ul>
          </div>
        </div>
      </div> -->

      <!-- <div class="row filter-bar-row align-items-center">

        <div class="col-auto filter-bar">
          <span>India</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>
        <div class="col-auto filter-bar">
          <span>Environment</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>
        <div class="col-auto filter-bar">
          <span>Archeology</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>

        <div class="col-auto filter-bar">
          <span>Jaipur</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>
        <div class="col-auto filter-bar">
          <span>Tree Plantation</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>
        <div class="col-auto filter-bar">
          <span>Nutriton</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>

        <div class="col-auto filter-bar">
          <span>Toronto</span>
          <button type="button" class="btn btn-close-search">
            <img src="images/cancel.png" alt="close" />
          </button>
        </div>

        <div class="col-auto">
          <button type="button" class="btn btn-close-search clr-btn">
            Clear all
          </button>
        </div>
      </div> -->

      <div class="container">
        <div class="row mt-3">
          <div class="col-12 col-md-6 search-bar p-0">
            <button type="button" class="btn">
              <img src="images/search.png" alt="search" />
            </button>
            <input
              class="form-control"
              type="text"
              placeholder="Search mission ..."
              aria-label="Search"
            />
          </div>
          <div class="col-12 col-sm-6">
            <div class="row mt-3">
              
              <div class="col-12 col-md-2 mb-2 mb-md-0">
                <select class="form-control" id="country">
                  <option value="">Country</option>
                  <option value="USA">USA</option>
                  <option value="Canada">Canada</option>
                </select>
                </div>
              <div class="col-12 col-md-2 mb-2 mb-md-0">
                <select class="form-control" id="city">
                  <option value="">City</option>
                  <option value="New York">New York</option>
                  <option value="Los Angeles">Los Angeles</option>
                </select>
              </div>
              <div class="col-12 col-md-2">
                <select class="form-control" id="theme">
                  <option value="">Theme</option>
                  <option value="Dark">Dark</option>
                  <option value="Light">Light</option>
                </select>
              </div>
              <div class="col-12 col-md-2">
                <select class="form-control" id="skill">
                  <option value="">Skill</option>
                  <option value="JavaScript">JavaScript</option>
                  <option value="HTML">HTML</option>
                </select>
                </div>
            </div>
          </div>
          <div class="row" id="selected-filters">
            <button class="btn" id="clear-filters">Clear Filters</button>
          </div>
        </div>
      </div>
<!-- Explore mission row -->
      <div class="row explore">
         <div class="col">
          <h2>Explore <strong>72 Missions</strong></h2>
          </div>
        
        <div class="col d-flex flex-row justify-content-end ">
            <div class="p-0 d-flex flex-row me-4">
                <button class="sortby" type="button" data-bs-toggle="dropdown">
                  <span class="">Sort by</span>
                  <img src="images/drop-down.png" class="mx-0 mx-sm-2" />
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">USA</a></li>
                  <li><a class="dropdown-item" href="#">INDIA</a></li>
                  <li><a class="dropdown-item" href="#">Canada</a></li>
                </ul>
            </div>
           
              <button class="btn btn-grid "><img src="images/grid.png"  /></button>
              <button class="btn btn-list "><img src="images/list.png" /></button>
              
            
        </div>
        </div>
     
        
        <!-- mission-list 2 -->

        <div class="container-fluid grid-container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">Toronto</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Environment</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Grow Trees On the path to environment sustainability</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">Tree Canada</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                    </div> 
                    <div class="d-flex flex-row mission-deadline">
                      <div class="d-flex flex-row">
                        <div><img src="images/Seats-left.png" alt=""> </div>
                        <div><span>10 </br> Seats left</span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div><img src="images/deadline.png" alt=""></div>
                        <div class="ms-2"> <span>09/01/2019 <br> Deadline</span> </div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>
                  

                  
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">Melbourne</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Children</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Education Supplies for Every Pair of Shoes Sold</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">Australian Paradise</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                    </div> 
                    <div class="d-flex flex-row mission-deadline">
                      <div class="d-flex flex-row">
                        <div><img src="images/Already-volunteered.png" alt=""> </div>
                        <div><span>250</br> Seats left</span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div><img src="images/deadline.png" alt=""></div>
                        <div class="ms-2"> <span>09/01/2019 <br> Deadline</span> </div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/Nourish-the-Children-in--African-country.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">Barcelona</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Nutrition</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Nourish the Children in African country help the poor</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">The Hunger</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">Ongoing Opportunity</p>
                    </div> 
                    <div class="d-flex flex-row mission-deadline">
                      <div class="d-flex flex-row">
                        <div><img src="images/Already-volunteered.png" alt=""> </div>
                        <div><span>10</br> Seats left</span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div><img src="images/deadline.png" alt=""></div>
                        <div class="ms-2"> <span>09/01/2019 <br> Deadline</span> </div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">London</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Environment</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">CSR initiative stands for Coffee and Farmer Equity</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">CSE Network</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">Ongoing Opportunity</p>
                    </div> 
                    <div class="d-flex flex-row mt-4">
                      <div class="d-flex flex-row">
                        <div><img src="images/Already-volunteered.png" alt=""> </div>
                        <div ms-4><span>250</br> Already-volunteered</span></div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/Animal-welfare-&-save-birds-campaign.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">Cape Town</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Animals</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Animal welfare & save birds campaign Go vegan</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">JR Foundation</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">Ongoing Opportunity</p>
                    </div> 
                    <div class="d-flex flex-row mission-deadline">
                      <div class="d-flex flex-row">
                        <div><img src="images/Seats-left.png" alt=""> </div>
                        <div><span>10 </br> Seats left</span></div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="progress">
                          <div class="progress-bar w-75" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>

                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <div class="img-event">
                  <img class="card-img-top" src="images/Plantation-and-Afforestation-programme.png" alt="Card image cap">
                  <div class="location-img">
                    <img class="text-light" src="images/pin.png" alt="">
                    <span class="text-light">Paris</span>
                </div>
                <button class="like-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="stop-img border-0">
                    <img class="text-light" src="images/heart.png" alt="">
                </button>
                <button class="mission-theme border-0">
                    <span class="p-2">Health</span>
                </button>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Plantation and Afforestation programme Go green</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                  <div class="d-flex justify-content-between">
                    <div><p class="slug">Amaze doctors</p></div>
                    <div class="d-flex flex-row">
                      <img class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/selected-star.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                      <img  class="star" src="images/star-empty.png" alt="">
                       </div>
                  </div>
                  <div class="duration-seats-info mt-4">
                    <div class="duration">
                      <p id="duration-txt" style="margin-bottom: 0;">Plant 10000 trees</p>
                    </div> 
                    <div class="d-flex flex-row mission-deadline">
                       <div class="d-flex flex-row">
                        <div class="progress">
                          <div class="progress-bar w-75" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      
                    </div>
                    
                  </div> 
                  <div class="d-flex justify-content-center mt-4">
                    <button class="apply-btn">
                      Apply <span><img src="images/right-arrow.png" alt=""></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Grow Trees On the path to environment sustainability</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>


                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Education Supplies for Every Pair of Shoes Sold</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card">
                <img class="card-img-top" src="images/Nourish-the-Children-in--African-country.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nourish the Children in African country help the poor</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                </div>
              </div>
            </div>
            

          </div>
          
        </div>
      </div></div>

      
      </div>
   
   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>

<!-- <div class=" cards d-none">
    <div class="row row-cols-12 row-cols-md-2 row-cols-lg-3 ">
        <div class="col">
        <div class="card" >
            <img src="../Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="...">
            <span>Environment</span>
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div></div>

          <div class="col">
            <div class="card" >
                <img src="../Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div></div>
              <div class="col">
                <div class="card">
                    <img src="../Assets/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div></div>
    </div> -->
    
  
      
