/* Main Sidebar
--------------------------------------------------------------------------------------------------------*/
.main-container {
    display: flex;
}

.main-content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(100% - 303px);
    /*    max-width: calc(100% - 242px);*/
    padding: 5px 7px;
    z-index: 1;
    transition: all 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
.sidebar-open .main-content {
    flex-basis: calc(100%);
    max-width: calc(100%);
    flex-grow: 1;
}
.sidebar {
    width: 303px;
    border-radius: 3px;
    background-color: #F88634;
    min-height: 100vh;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 303px;
    z-index: 0;
    overflow-y: auto;
    top: 0px;
    bottom: 0;
    margin-left: 0px;
    transition: all 0.2s ease;
    border-top: 1px solid #DADADA;
    visibility: visible;
    color: #FFFFFF;
}
.default {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(105%) contrast(103%);
}

.sidebar-open .sidebar {
    flex-shrink: 1;
    margin-left: -303px;
}

body.toggle-sidebar {
    overflow: hidden;
}

.sidebar ul {
    padding: 25px 30px;
}

.sidebar .nav-link {
    padding: 11px 18px;
    align-items: center;
    display: flex;
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 18px;
}

    .sidebar .nav-link img {
        width: 20px;
        height: 21px;
        margin-right: 8px;
    }

    .sidebar .nav-link span {
        color: #FFFFFF;
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
    }

.sidebar .active span {
    color: #F88634;
}

.sidebar .active {
    background-color: #FFFFFF;
    border-radius: 5px;
    text-decoration: none;
}

.sidebar .nav-link:hover.active, .sidebar .nav-link:focus.active {
    background-color: #FFFFFF;
}

.sidebar .nav-link.active .default {
    display: none;
}

.sidebar .nav-link.active .icon-active {
    display: block;
}

.sidebar .nav-link .icon-active {
    display: none;
}

.sidebar .nav-link:hover, .sidebar .nav-link:focus {
    background-color: #f1f1f1;
    border-radius: 5px;
    text-decoration: none;
}
/*Main Content*/
.sidebar-open .main-content {
    flex-basis: calc(100%);
    max-width: calc(100%);
    flex-grow: 1;
}
.profile {
    background:none;
    display: flex;
    align-items: center !important;
}

.profileimg {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
ul {
    list-style-type: none;
}
.header {
    height: 33px;
    width:100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    z-index: 1;
}
.dropdown-toggle::after {
    display: none;
}
.table {
    border: 1px solid #D9D9D9;
}
th {
    background: #F8F9FC 0% 0% no-repeat padding-box !important;
    padding: 18px !important;
}
td {
    padding: 18px !important;
}

.add-btn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    opacity: 1;
    color: #F88634;

}
.add-btn img {
        filter: invert(72%) sepia(35%) saturate(4855%) hue-rotate(336deg) brightness(99%) contrast(97%);
 }

.pagination {
    --bs-pagination-color: #f88634;
    --bs-pagination-hover-color: #f88634;
    --bs-pagination-focus-color: #f88634;
    --bs-pagination-active-bg: #f88634;
    --bs-pagination-active-border-color: #f88634;
}

.cancelbtn {
    padding: 0.4rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    border-radius: 24px;
}

.submitbtn {
    padding: 0.4rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
}
.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10000;
}

.loader {
    width: 200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 10000;
    overflow: auto;
}
    @media (max-width:991px) {
        .sidebar {
            position: fixed;
            margin-left: -303px;
            z-index: 30;
        }

        .overlay {
            position: fixed;
            transition: all 0.2s ease;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 29;
            visibility: hidden;
            background: rgba(0,0,0,0.4);
            display: block;
            opacity: 0;
            right: 0;
        }

        .sidebar-open .overlay {
            visibility: visible;
            opacity: 1;
        }

        .sidebar-open .sidebar {
            margin-left: 0;
        }

        body.sidebar-open {
            overflow: hidden;
        }

        .main-content {
            max-width: 100%;
            flex-basis: 100%;
            flex-grow: 0;
        }
    }
.other-image {
    margin-right: 1.15%;
    width: 24.1%;
    cursor: pointer;
}
.left {
    width: 2%;
    opacity: 50%;
    cursor: pointer;
}

.publish-btn {
    border: solid green 2px;
    color: green;
    border-radius: 13px;
}
.decline-btn {
    border: solid orangered 2px;
    color: red;
    border-radius: 13px;
}
.delete-btn {
    border: solid orangered 2px;
    color: red;
    border-radius: 13px;
}
/*tabs*/
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
    color: #505050;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 3px solid #414141 !important;
    color: #414141 !important;
    font-weight: 500 !important;
}

.nav-link {
    color: #ADADAD;
    font-size: 15px;
    line-height: 18px;
    padding: 14px 18px;
}

.nav-tabs {
    border-bottom: 1px solid #ADADAD;
}

.tab-content {
    margin-top: 25px;
}

.tab-pane {
    font-size: 15px;
    line-height: 24px;
    color: #3E3E3E;
}

.UserProfile {
    text-align: center;
    padding: 32px;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

    .UserProfile img {
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }

.Userheading {
    font-size: 22px;
    list-style: 26.4px;
    color: #414141;
    border-bottom: 2px solid #414141;
    padding-bottom: 19px;
}

label {
    text-align: left;
    font-weight: lighter;
    color: #414141;
}


.add {
    margin: 1rem !important;
    margin-top: 4rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000F;
    border: 1px solid #E8E8E8;
}

    .add form {
        padding: 10px 30px;
    }

    .add .title, .tox-toolbar__primary {
        background: #F8F9FC 0% 0% no-repeat padding-box !important;
        box-shadow: 0px 2px 3px #0000000F;
        border: 1px solid #E8E8E8 !important;
        padding: 10px 35px;
    }

        .add .title p {
            font-size: 22px;
            line-height: 26.4px;
            margin-bottom: 0;
            color: #333333;
        }
@media only screen and (min-width:769px) and (max-width:2000px) {
    .main-image {
        height: 530px;
    }

    iframe {
        height: 530px;
    }
}
@media only screen and (max-width: 768px)
{
    .UserProfile img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}













