footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
}

body {
    margin-bottom: 100px; /* Height of the footer */
}

.header {
    align-items: center;
    padding: 10px 9rem;
    border-bottom: 1px solid rgb(223, 217, 217);
}

    .header a,
    .header button,
    .header span {
        color: #333333;
        font-size: 1rem;
    }

#selected-items-row {
    display: none;
    margin-top: 10px;
}

.filter-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    opacity: 1
}

.dropdown {
    border-left: 1px solid lightgray;
    
}
.dropdown-menu {
    max-height: 200px;
    overflow: scroll;
    padding-left: 8px;
}
.dropdown {
    display: flex;
    margin-left: 10px;
}


.dropdown-toggle {
    border: 0 !important;
    background: transparent;
}

    .dropdown-toggle::after {
        border: 0 !important;
        margin: 0 !important;
    }

.profile {
    display: flex;
    align-items: center !important;
}

.profileimg {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.filterrow {
    padding: 0 8.5rem;
    border-bottom: 2px solid rgb(223, 217, 217);
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

    .search-bar .form-control {
        border: 1px solid transparent;
        color: #757575;
        font-size: 16px;
        line-height: 23px;
        padding: 12px 16px 12px 8px;
    }

        .search-bar .form-control::-webkit-input-placeholder {
            color: #757575;
        }

        .search-bar .form-control:hover,
        .search-bar .form-control:focus,
        .search-bar .form-control:active {
            border: 1px solid #adadad !important;
            transition: none;
        }

.filter {
    border: 0;
    background: transparent;
    border-left: 1px solid rgb(223, 217, 217) !important;
    padding: 25px 2px 25px 10px;
    color: #414141;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filterrow div:nth-child(4) {
    border-right: 1px solid rgb(223, 217, 217) !important;
}

.filter-bar-row {
    padding: 0 9rem;
}

.filter-bar {
    padding: 4.5px 20px;
    font-size: 13px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e8e8e8 !important;
    border-radius: 14px !important;
    margin: 20px 10px !important;
}

    .filter-bar span {
        margin-right: 0.5rem;
    }

.btn-close-search {
    padding: 0 !important;
    border: 0 !important;
    transform: translateY(-0.2rem);
}

.clr-btn {
    font-size: 13px;
    line-height: 15.6px;
    columns: #414141;
}

.explore {
    padding: 13px 2.5rem;
}

.form-check-inline {
    margin-right: 0 !important;
    padding: 5px;
}

.gridbtn {
    background-image: url(../Assets/grid.png) !important;
    width: 44px !important;
    height: 44px !important;
    border: 7px solid transparent !important;
}

.listbtn {
    background-image: url(../Assets/list.png) !important;
    background-position: center !important;
    background-size: contain !important;
    width: 30px !important;
    height: 30px !important;
    border: 7px solid transparent !important;
    transform: translateY(0.3rem);
}

.form-check-input:checked,
.form-check-input:active,
.form-check-input:focus,
.form-check-input:hover {
    background-color: #E8E8E8 !important;
    border-color: #E8E8E8 !important;
    box-shadow: none !important;
}

.form-check-inline :nth-child(2) {
    padding: 5px;
    background-color: #2b64b1;
}

.explore .form-check {
    padding: 0 20px !important;
    margin: 0 !important;
}


.sortby {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0.97px 0.26px 3px #0000000d;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 8px 2px 11px 10px;
    color: #414141;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
}

/* filters css */
#selected-filters {
    margin-top: 10px;
}

.filter-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

    .filter-item button {
        margin-left: 5px;
    }
#duration-txt {
    color: #414141;
    opacity: 1;
    font-size: 17px;
    font-weight: lighter;
}
#cross-btn {
    padding-top: 0;
    padding-bottom: 0;
}

.add-favorite {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* card css */

.grid-container {
    padding: 13px 2.5rem;
}

.card {
    margin-bottom: 2rem;
}

.list-view .row > [class*='col-'] {
    max-width: 100%;
    flex: 0 0 100%;
}

.list-view .card {
    flex-direction: row;
}

    .list-view .card > .card-img-top {
        width: auto;
    }

    .list-view .card .card-body {
        display: inline-block;
    }

    .list-view .card .like-img {
        top: 40%;
    }

.star {
    height: 20px;
    width: 20px;
}

.slug {
    font-size: 14px;
}

.duration-seats-info {
    position: relative;
    width: 100%;
    border: 1px solid #E8E8E8;
    border-left: 0px;
    border-right: 0px;
    text-align: center;
}

.duration {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, -55%);
    margin-left: 15%;
    margin-right: 15%;
}

.mission-deadline {
    justify-content: space-around;
    margin-top: 23px;
}

.img-event {
    position: relative;
}

.location-img {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 0.5;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 10px;
    border: none;
}

.like-img {
    position: absolute;
    top: 34%;
    right: 0;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 0.5;
    margin: 10px;
    padding: 7px;
}

.stop-img {
    position: absolute;
    top: 53%;
    right: 0;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 0.5;
    margin: 10px;
    padding: 7px;
}

.mission-theme {
    position: absolute;
    bottom: -13px;
    left: 25%;
    /* / bottom: 1; / */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}

.apply-btn {
    border: 2px solid #F88634;
    border-radius: 100px;
    color: #F88634;
    padding-left: 20px;
    padding-right: 20px;
}

.progress {
    width: 40vh;
}

.progress-bar {
    background-color: #F88634;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 100%;
    max-height: 253px;
    object-fit: cover;
}



/*Volunteering mission page css */

.related_mission_heading {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
}
.CSR_heading {
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    font-size: 38px;
    font-weight: lighter;
    margin-top: 23px;
}

.lorem {
    color: #414141;
    opacity: 1;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 0px;
}

.add_favorite {
    width: 45%;
    border: 2px solid #757575;
    border-radius: 25px;
    opacity: 1;
}
.pin-img {
    height: 21px;
    width: 17px;
}

.star-btn {
    padding:0 !important;
    margin-top: 10px;
}
.carousel-card {
    padding-left: 2px;
    padding-right: 2px;
}
.mission-badge {
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    opacity: 1;
    width: 153px;
    height: 130px;
    margin-top: 20px;
    margin-left: 50px;
}
.calender-img {
    height: 21px;
    width: 21px;
}
.web-img {
    height: 21px;
    width: 21px;
}
.organization-img {
    height: 21px;
    width: 28px;
}
.apply-btn{
    width: 30%;
    border: 2px solid #F88634;
    border-radius: 30px;
    color: #F88634;
    opacity: 1;
 
    margin-top: 3%;
}

/*tabs*/
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
    color: #505050;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-bottom: 3px solid #414141;
    color: #414141;
    font-weight: 500;
}

.nav-link {
    color: #ADADAD;
    font-size: 15px;
    line-height: 18px;
    padding: 14px 18px;
}

.nav-tabs {
    border-bottom: 1px solid #ADADAD;
}

.tab-content {
    margin-top: 25px;
}

.tab-pane {
    font-size: 15px;
    line-height: 24px;
    color: #3E3E3E;
}



volunteers #img {
    width: 70px;
    height: 70px;
}

.volunteers button {
    background: none;
    border: none;
}

#recent-volunteer-page-2 {
    display: none;
}

#recent-volunteer-page-3 {
    display: none;
}


.other-image {
    margin-right: 1.15%;
    width: 24.1%;
    cursor: pointer;
}
.left {
    width: 2%;
    opacity: 50%;
    cursor: pointer;
}

/*story listing page css starts*/

.story-header-img {
    width: 100vw;
    height: 42vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/images/Grow-Trees-On-the-path-to-environment-sustainability-login-story.png');
    background-size: cover;
    background-position: top left;
   
}
.story-lorem {
    color: white;
    width: 60vw;

}
.story-button {
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.volunteer-image {
    width: 60px;
    border-radius: 60px;
    height: 60px;
}
.vol-name{
    padding-top:16px;
    padding-left:9px;
}
.mission-title {
   color: #414141;
}
.story-container {
    padding: 13px 8.5rem;
}

#view-details-button {
    background: transparent;
    color: white;
    border: 2px solid white !important;
    border-radius: 24px;
    background: none;
    align-items: center;
    display: flex;
    padding-left:10px;
    padding-right: 22px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .img-event .card-img-top {
    filter: brightness(40%);
}

.card:hover .middle {
    opacity: 1;
}

.page-link {
    color: #F88634;
    border: solid 1px #e1e1e1;
    --bs-pagination-active-bg: #F88634;
    --bs-pagination-active-border-color: #F88634;
}

#comments {
    max-height: 380px;
    overflow: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

    #comments .mb-4 {
        margin-bottom: 20px;
    }

    #comments .d-flex {
        align-items: center;
    }

    #comments #img {
        width: 80px;
        height: 80px;
        margin-right: 15px;
    }

    #comments .comment-text {
        font-size: 15px;
        margin-top: 10px;
        line-height: 1.5;
    }

/*
    share story page css*/

.story {
    padding-left: 14% !important;
    padding-right: 14% !important;
}

.photo-container {
    display: inline-block;
    position: relative;
    margin: 5px;
}

    .photo-container img {
        display: block;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .photo-container button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        padding: 5px;
        font-size: 16px;
        cursor: pointer;
    }

#drag {
    border: 1px solid black;
    height: 105px;
    background-image: url("/images/drag-and-drop.png");
    background-repeat: no-repeat;
    background-position: center;
}
.main-image-div {
    width: 90px;
    margin: 10px;
    position: relative;
}

.preview-image {
    width: 100%;
    height: 90px;
}
.preview-image-div {
    position: relative;
}

    .preview-image-div .close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
.close {
    width: 20px;
    height: 20px;
    opacity: 70%;
    position: absolute;
    top: 0%;
    left: 77%;
    cursor: pointer;
}
.cancelbtn {
    padding: 0.4rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    border-radius: 24px;
}
.submitbtn {
    padding: 0.4rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
}
.dropzone {
    width: 100%;
    max-width: 98%; /* Change to the desired max width */
    margin: 0 auto;
}
.openmission {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 30px;
    opacity: 1;
    color: #F88634;
}

.storytitle {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    font-size: 22px;
}

.story-desc {
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.vol-reason {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    margin-bottom: 4%;
}

.timesheet-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 3px #0000000F;
    border: 1px solid #E8E8E8;
    opacity: 1;
    width:48%;
}


/*Edit profile css*/
.UserProfile {
    text-align: center;
    padding: 32px;
    border: 1px solid #ced4da;
    border-radius: 0.25em;
}

    .UserProfile img {
        border-radius: 50%;
        width: 180px;
        height: 180px;
    }

.Userheading {
    font-size: 22px;
    list-style: 26.4px;
    color: #414141;
    border-bottom: 2px solid #414141;
    padding-bottom: 19px;
}

label {
    text-align: left;
    font-weight: lighter;
    color: #414141;
}
.changepasswordbtn {
    padding: 0.4rem 1rem;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
}

/*Privacy-policy css starts */
.privacy-container {
    padding-top: 13px;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 13px;
}
.privacy-h1 {
    text-align: left;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font-family: NotoSans;
    margin-top:2%;
}
#section-nav {
    padding: 20px;
}
    #section-nav div {
        border-bottom: solid 1px;
        margin-bottom: 21px;
    }

    #section-nav a {
        display: block;
        margin-bottom: 10px;
        color: #333333;
    }

        #section-nav a.active {
            font-weight: bold;
        }
/* CSS for the privacy section on the right */
#privacy-section {
    padding: 20px;
}
    #privacy-section p {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        opacity: 1;
        font-weight: lighter;
    }
    #privacy-section h1,
    #privacy-section h2,
    #privacy-section h3,
    #privacy-section h4,
    #privacy-section h5,
    #privacy-section h6 {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        opacity: 1;
        font-weight: 400;
    }
.privacy-container ol {
    counter-reset: item;
}

.privacy-container li {
    display: block;
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    opacity: 1;
    font-weight: lighter;
    margin-top: 15px;
}

.privacy-container ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
}
@media (max-width: 575.98px) {
    .list-view .card {
        flex-direction: column;
    }
}

@media(max-width: 1024px) {
    .progress {
        width: 23vh;
    }

    html {
        font-size: 13px;
    }

    .list-view .like-img {
        top: 40%;
    }

    .grid-container .like-img {
        top: 28%;
    }

    .mission-badge {
        margin-left: 5px;
    }
    .timesheet-box {
        width: 100%;
    }
}





@media (min-width: 768px) {
    .navbar-nav .nav-item {
        margin-left: 10px;
        margin-right: 10px;
    }

    .dropdown-menu {
        width: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    #selected-items-row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

        #selected-items-row .badge {
            display: inline-flex;
            --bs-badge-font-size: 18px;
        }

    

}

@media(max-width: 991px) {
    .dropdown {
        border-left: none;
    }

    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    #cross-btn {
        font-size: 15px;
    }

    #duration-text {
        font-size: 13px;
    }

    #html {
        font-size: 12px;
    }

    .mission-badge {
        margin-left: 3px;
        margin-top: 15px;
        width: 25%;
        height: auto;
    }
}
@media only screen and (min-width:769px) and (max-width:2000px) {
    .main-image{
        height: 530px;
    }
    iframe {
        height: 530px;
    }
}
@media (max-width: 768px) {


    .navbar-collapse {
        margin-top: 10px;
        background-color: #f8f9fa;
    }

    .navbar-nav .nav-item {
        margin-bottom: 10px;
    }

    .CSR_heading {
        font-size: 29px;
    }
    .privacy-container {
        padding-right: 7%;
        padding-left: 7%;
    }
}

@media (max-width:425px) {
    .header {
        padding: 10px 2rem;
    }

    .list-view .card .like-img {
        top: 26%;
    }

    .explore {
        padding: 13px 1rem;
    }

    .grid-container {
        padding: 13px 1rem;
    }

    #duration-txt {
        font-size: 13px;
    }

    .apply-btn {
        margin-left: 0px;
        margin-right: 0px;
        width: 52%;
    }

    .mission-badge {
        font-size: 11px;
    }

    .CSR_heading {
        font-size: 25px;
    }

    .story-container {
        padding: 13px 1rem;
    }
}

@media (min-width: 320px) {
    #selected-items-row {
        display: block;
    }
}

@media only screen and (min-width:1024px) and (max-width:1440px) {
    .CSR_heading {
        font-size: 32px;
        margin-top: 0px;
        margin-bottom: 9px;
    }

    mission-badge {
        width: 153px;
        height: 108px;
        margin-top: 20px;
        margin-left: 50px;
    }
}
