@using CI_Platform.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Banners";
}

@model LoginViewModel


<div class="login-form d-flex flex-column">
                   <form  method="post">
                     @if (ViewBag.LoginErrorMessage != null)
{
                    <div class="alert alert-danger" role="alert">
                     @ViewBag.LoginErrorMessage
                    </div>
}
                      @* <div asp-validation-summary="All" class="text-danger"></div>*@
                       <span asp-validation-for="Email" class="form-text text-danger"></span>
                <div>
                   
                    <label asp-for="Email" class="form-label">Email Address</label>
                    <input asp-for="Email" type="email" class="form-control mb-4" id="emailInput" />
                    
                </div>
                <span asp-validation-for="Password" class="form-text text-danger"></span>
              <div>
                    
                  <label asp-for="Password" class="form-label">Password</label>
                <input  asp-for="Password" type="password" class="form-control mb-4" id="passwordInput" /></div>
              
                <button type="submit" class="pill-button rounded-pill mb-4">Login</button>
                
                </form>
                <a  class="link mt-4 mb-4" asp-controller="UserAuthentication" asp-action="lostPassword">Lost your password?</a>
                <span class="link">
                    Don't have an account?<a  style="text-decoration: none" asp-controller="UserAuthentication" asp-action="registration">Create an account</a></span>
                
            </div>