@using CI_Platform.Models.ViewModels

@{
    Layout = "_Banners";
}
@model ForgotPasswordViewModel


                <form asp-action = "lostPassword"  method="post">
                <div class=" lost-password-form d-flex flex-column"> 
                    <p style="font-size:22px; color:#414141; text-align:center;">Forgot Password</p>
                <p style="font-size:14px;color:#414141; text-align:center;">Enter your email address you've using for your account below and we will send you a password reset link</p>
                <label asp-for="Email" for="emailInput" class="form-label">Email Address</label>
                <input asp-for="Email" type="email" class="form-control mb-4" id="emailInput" placeholder="name@example.com">
                <span asp-validation-for="Email" class="text-danger"></span>
                
                 <button type="submit" class="pill-button rounded-pill mb-4">Reset My password</button>
                <a class="link mt-4 " asp-controller="UserAuthentication" asp-action="login" >Login</a>
                
                
                </div>
                </form>
                
