@using CI_Platform.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Banners";
}
@model RegistrationViewModel

                <div class=" register-form d-flex flex-column">
               <form  method="post">
                <span asp-validation-for="FirstName" class="text-danger"></span>
                <div>
                   
                    <label asp-for="FirstName" class="form-label ">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control mb-4 " id="firstname" >
                     
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
                <div>
                    
                    <label asp-for="LastName" class="form-label ">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control mb-4 " id="lastname" >
                    
                </div>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                <div>
                    <label asp-for="PhoneNumber" class="form-label ">Phone Number</label>
                    <input asp-for="PhoneNumber" type="number" class="form-control mb-4 " id="phonenumber" >
                    
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
                <div>
                     
                    <label asp-for="Email" class="form-label ">Email Address</label>
                    <input asp-for="Email" type="email" class="form-control mb-4 " id="emailaddress" >
                   
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div>
                     
                    <label asp-for="Password" class="form-label ">Password</label>
                    <input asp-for="Password" type="password" class="form-control mb-4" id="password">
                   
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div>
                    
                    <label asp-for="ConfirmPassword" class="form-label ">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control mb-4" id="passwordInput">
                    
                </div>
                    <button type="submit" class="pill-button rounded-pill mb-4">Register</button>
                   @* <a class="btn pill-button rounded-pill mb-4 " role="button">Register</a>*@
                    </form>
                    <a  class="link" asp-controller="UserAuthentication" asp-action="lostPassword">Lost your password?</a>
                    <span class="link"> Already registered?<a asp-controller="UserAuthentication" asp-action="login" style="text-decoration:none;" >Login Now</a></span>
                
            </div>
            
           
