@using CI_Platform.Models.ViewModels

@{
   ViewData["title"] = "ResetPassword";
    Layout = "_Banners";

    
}
@model ResetPasswordViewModel

                <div class=" reset-form d-flex flex-column">
                <div>
                    <h2>New Password</h2>
                    <p>Please enter a new password in the fields below.</p>
                </div>
                <form asp-action = "resetPassword" method="Post">
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="token" />
                 <span asp-validation-for="Password" class="text-danger"></span>
                <div>
                    <label  asp-for="Password" for="passwordInput" class="form-label ">Password</label>
                    <input name="Password" asp-for="Password" type="password" class="form-control mb-4" id="passwordInput" >
                </div>
                 <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div>
                    <label asp-for="ConfirmPassword" for="passwordInput" class="form-label ">Confirm New Password</label>
                    <input name="ConfirmPassword" asp-for="ConfirmPassword" type="password" class="form-control mb-3" id="passwordInput">
                </div>
            
                     <button asp-controller="UserAuthentication" asp-formaction="resetPassword" type="submit" class="pill-button rounded-pill mb-4">Reset my password</button>
                </form>
                <a class="link" asp-controller="UserAuthentication" asp-action="login" style="text-decoration:none">Login</a>
                
            </div>
           <div class="privacypolicy"><a class="link" href="#" style="text-decoration:none;">Privacy Policy</a></div> 

