@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<P> To reset the password mail has been sent to your email id please click on that link to continue. </P> 