
@using CI_Platform.Models.ViewModels
@model AddUserViewModel
<option value=0 disabled selected>Select Your City</option>
               @{
    foreach (var item in Model.Cities)
    {
        <option value=@item.CityId>@item.Name</option>
    }
}