@Model Skill 
<tr id='skill-@Model.SkillId'>
                                    <td>@Model.SkillName</td>
                                     @if(@Model.Status == 1)
                                        {
                                        <td style="color:green;">Active</td>
                                    }
                                    else
                                    {
                                        <td style="color:orangered;">Inactive</td>
                                    }
                                        <td>
                                        <img src="/images/editing.png" data-bs-toggle="modal" data-bs-target="#EditSkill"
                                        class="edbutton" onclick="EditSkill(@Model.SkillId,'@Model.SkillName',@Model.Status)" alt="" />
                                        <img src="~/images/bin.png" onclick="DeleteSkill(@Model.SkillId)" class="ms-2 edbutton" alt="" />
                                    </td>
                                    
                                    
                                </tr>